@use "../variables" as *;

.bar {
    position: relative;

    &.dark {
        h2, h3 {
            color: $white;
        }
    }
}

.bar--grey {
    background: #f1f1f1;
}

.bar {
    &.about {
        .title, .sub-title {
            right: auto;
            left: 120px;
        }

        .container {
            justify-content: center;

            @media all and (max-width:$tablet) { 
                flex-direction: column-reverse;
            }
        }
    }

    &.contact, &.built {
        .title, .sub-title {
            left: 120px;
            right: 0;
            text-align: center;
        }

        .container {
            justify-content:center;
        }
    }

    &.built {
        .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &.portfolio {
        .container {
            justify-content: center;
        }
    }
}