@use "../variables" as *;

.button {
    position: relative;
    background: $blue;
    font-family: $font-family-alt;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    padding: 14px 20px;
    transition: 0.4s ease-in-out;

    max-width: 240px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 6px;

    &:hover {
        transform: scale(1.07);
        
    }

    &.center {
        margin: 0 auto;
    }
}

.button--pink {
    background: $pink;
    
}

.button--next, .button--prev {
    background: $pink;
    font-size: 0 !important;
    border-radius: 50px;
    padding: 16px !important;
    &::before {
        content:'';
        display: block;
            width: 20px;
            height: 20px;
            font-size: 0;
            background-size: 20px 20px;
        background-image: url('../images/arrow.svg');
    }
}

.button--prev {
    &::before {
        transform: rotate(180deg);
    }
}

.info-button {
    border: 2px solid $blue;
    border-radius: 50px;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media all and (min-width:$tablet) { 
        display: none;
    }
}

.button--close {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;

    &::before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 3px;
        width: 35px;
        background: $pink;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
