@use "../variables" as *;

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        color: $blue !important;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    label {
        display: block;
        margin: 0;
        cursor: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #f1f1f1 inset !important;
    }

    textarea,
    select,
    input[type="text"],
    input[type="email"],
    input[type="number"]{
        font-family: $font-family-alt;
        font-size: 1em;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        max-width: 100%;
        padding: 10px 10px;
        border-radius: 4px;
        background-color: #f1f1f1;
        

        &:focus {
            outline-color: $pink;


        }
    }

    button {
        cursor: pointer;

        &:before {
            content: "Send me a message";
        }

        &.loading {
            &:before {
                content: "Sending...";
            }
        }
    }
}

.thank-you {
    color: $white;
}
