
@use "variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: $background;

  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  color: $font-color-dark;

  position: relative;
  cursor: none; // Hide the original cursor
}

p {
    margin-bottom: 10px;
}

a {
    cursor: none;
}

h1 {
    color: $font-color-dark;
    font-weight: 600;
    @media all and (max-width:960px) { 
        font-size: 3rem;
    }
}

h2 {
    font-size: calc(22px + 1.5vw);

    &:after {
        content: '.';
        color: $pink;
    }
}

h3 {
    font-size: calc(12px + 1.5vw);
    &:after {
        content: '.';
        color: $green;
    }
}

section {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 110px;
    overflow: hidden;

    @media all and (max-width: $tablet) {
        padding-left: 0px;
        padding-top: 80px;
    }

    &.header {
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0;
    }

    & > * {
        //position: relative;
        z-index: 2;
    }
}

.snap {
    section {
        scroll-snap-align: start;
    }
}