
@use "variables" as *;
@use "boilerplate";

@use "components/bar";
@use "components/slider";
@use "components/cursor";
@use "components/navigation";
@use "components/button";
@use "components/form";
@use "components/velocity";
@use "components/tile";
@use "components/modal";


.container {
    display: flex;
    padding: 40px 20px;
    width: 100%;

    @media all and (max-width:$tablet) {    
        max-width: 1000px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
}

.container--nop {
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    @media all and (max-width:$tablet) { 
        display: none;
    }
}

.page-logo {
    display: none;
    @media all and (max-width:$tablet) { 
        display: block;
    }
}

.head {
    padding: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (max-width:$tablet) { 
        width: 100%;
    }
}

.headshot-container {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s ease;
    pointer-events: none;

    @media all and (max-width:$tablet) { 
        bottom: 100px;
    }
}

.headshot {
    @media (max-height:1200px) and (max-width:$tablet) { 
        width: 700px;
    }
    @media (max-height:1040px) and (max-width:$mobile) { 
        width: 480px;
    }
    @media (max-height:920px) and (max-width:$mobile) { 
        width: 440px;
    }
    @media (max-height:850px) and (max-width:$mobile) { 
        width: 400px;
    }

    @media (max-height:720px) and (max-width:$mobile) { 
        width: 260px;
    }

    @media all and (max-width:$desktop) { 
        width: 500px;
    }

    @media all and (max-width:$tablet) { 
        width: 400px;
    }

    @media all and (max-width:$mobile) { 
        width: 260px;
    }
}

.name {
    font-size: 12vw;
    line-height: 1;
    color: $grey;
    transition: 0.3s ease;

    &:hover {
        color: $blue;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    text-align: left;

    @media all and (min-width:$tablet) { 
        margin-bottom: 60px;
    }

    @media all and (max-width:$tablet) { 
        gap: 20px;
        align-items: center;
        text-align: center;
    }
}

.block {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 700px;
    border-radius: 6px;
    padding: 40px;
    background-color: $white;
    box-shadow: 0 0 20px 20px rgba($black, 0.01);
}

.block--about {
    background: transparent;

    font-size: calc(14px + 1vw);
    line-height: 1.5;
    margin-top: 120px;
    box-shadow: none;

    @media all and (max-width:$tablet) { 
        margin-top: 0;
        padding: 20px;
    }
}

.block--skills {
    background: transparent;

    font-size: calc(14px + 0.6vw);
    line-height: 1.5;
    color: $white;
    padding: 20px;

    @media all and (max-width:$tablet) { 
        font-size: calc(14px + 0.8vw);
        margin-top: 0;
        padding: 20px;
    }
}

.block--contact {
    background: transparent;
    margin: 0 auto;

    
    @media all and (min-width:$tablet) { 
        margin-top: 60px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $green;
        border-radius: 6px;
        z-index: -1;
        transform: rotate(-1deg);
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;
        border-radius: 6px;
        z-index: -1;
        transform: rotate(2deg);
        opacity: 1;
        transition: 0.2s ease-in-out;
    }

    &.succeeded {
        display: flex;
        align-items: center;
        justify-content: center;
            font-size: 40px;
                text-align: center;
                font-weight: bold;
        &::after {
            opacity: 0;
        }
    }
}

.title {
    position: absolute;
    top: 140px;
    right: 100px;
    z-index: 2;
    opacity: 0;

    @media all and (max-width:$tablet) { 
        top: 135px;

        right: auto !important;
        left: 80px !important;
        
    }
}

.sub-title {
    opacity: 0;

    position: absolute;
    top: 90px;
    right: 100px;

    @media all and (max-width:$tablet) { 
        top: 60px;
        right: auto !important;
        left: 80px !important;
        
    }
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .slider-wrapper {
        margin-left: -350px;

        @media all and (max-width:$tablet) { 
            margin: 0 auto;
            
        }
    }
}

.gradient-box {
    position: absolute;
    opacity: 0;
    bottom: -50vh;
    right: 100px;
    transform: rotate(45deg);
    width: 100vh;
    height: 100vh;
    background: radial-gradient(circle at 100%, rgba($green, 0.4) 0%, rgba($white, 0) 80%);

    &.pink {
        background: radial-gradient(circle at 50% 100%, rgba($pink, 0.4) 0%, rgba($white, 0) 80%);
    }

    &.top {
        top: -50vh;
        bottom: auto;
        background: radial-gradient(circle at  50% 0%, rgba($green, 0.4) 0%, rgba($white, 0) 80%);
    }

    @media all and (max-width:$tablet) { 
        right: auto !important;
        left: 350px !important;
        
    }

    &.green {
        
        @media all and (max-width:$tablet) { 
            right: auto !important;
            left: -180px !important;
            
        }
    }
}

.about-image {
    margin-top: 60px;

    @media all and (max-width:$desktop) { 
       display: none;
    }

    @media all and (max-width:$tablet) { 
        margin-top: 0;
        position: relative;
        left: 50%;
        margin-left: -280px;
        display: block;
    }
}

ul.built {
    color: $white;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;

    a {
        color: $white;
        transition: 0.2s ease;

        &:hover {
            color: $pink;
        }
    }
}