@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Poppins:wght@300;400;600&display=swap');


$font-family: "Poppins", serif;

//Colors
$coffee: #8A8075;
$coffee-light: #B3A79B;
$secondary: #E3D9CE;
$cream: #F5F6EC;
$white: #ffffff;


$background: $cream;
$font-color-light: $white;
$font-color-dark: $coffee;