@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
$font-family: "Poppins", serif;
$font-family-alt: "Poppins", serif;

//Colors
$white: #ffffff;
$black: #222;
$grey: #ddd;

$pink: #e35d82;
$blue: #30314f;
$green: #2abd79;


$background: $white;
$font-color-light: $white;
$font-color-dark: $blue;

$desktop: 1200px;
$tablet: 960px;
$mobile: 768px;